<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QiNiu_Solution_iOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
				<key>dateExpires</key>
				<string>2024/5/5</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HappyDNS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LATWhiteboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MMMaterialDesignSpinner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PLPlayerKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QNAISDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QNIMSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QNRTCKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QNWhiteBoardSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.12.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9DEEADF93EFBBC9B0F04D65C1FFBD6A6767B98E</string>
						<key>dateExpires</key>
						<string>2024/5/5</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYCategories.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GDFHW66V92</string>
						<key>name</key>
						<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GDFHW66V92.com.qiniu.QiNiu-Solution-iOS</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GDFHW66V92</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>GDFHW66V92.com.qiniu.QiNiu-Solution-iOS</string>
				</array>
			</dict>
			<key>name</key>
			<string>QiNiu_Solution_iOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7b7759ec-70c8-4daa-beb8-d61abef3d643</string>
				<key>dateExpires</key>
				<string>2022/11/19</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.qiniu.QiNiu-Solution-iOS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GDFHW66V92</string>
				<key>name</key>
				<string>Shanghai Qiniu Information Technologies Co. Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.3</string>
		</dict>
	</array>
</dict>
</plist>
