<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QiNiu_Solution_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7750EE7B2611A1E0009EED03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7750EE962611A1E1009EED03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7750EEA12611A1E1009EED03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
